#<IfModule mod_rewrite.c>
AuthUserFile  /home/order17527/data/www/yii2-zhitomirnews.com/.htpasswd
AuthType Basic
AuthName 'auth'
require valid-user
Options +FollowSymlinks

RewriteEngine On

#AuthUserFile /dev/null
#AuthName "Authorization Form Title"
#AuthType Basic
#
##Allow only one user with specified username
#require user test123

RewriteCond %{REQUEST_URI} !^/backend/
RewriteCond %{REQUEST_URI}  !\.(css|js|php|html|jpg|gif|png|ico|ttf|eot|svg|woff|woff2)$
RewriteRule ^(.*)([^/])$ http://%{HTTP_HOST}/$1$2/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/(backend)

RewriteRule ^backend/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^backend/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^backend/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/backend/web/(assets|js)/
RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css)/

RewriteCond %{REQUEST_URI} ^/(backend)

RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/(assets|css)
RewriteCond %{REQUEST_URI} ^/(assets|js)

RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]

RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} ^/(uploads)
RewriteRule ^uploads/(.*)$ uploads/$1 [L]

RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|js)/
RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css)/

RewriteCond %{REQUEST_URI} !^/(images)
RewriteCond %{REQUEST_URI} !^/(fonts)
RewriteCond %{REQUEST_URI} !^/(uploads)

RewriteCond %{REQUEST_URI} !index.php

RewriteCond %{REQUEST_FILENAME} !-f [OR]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ frontend/web/index.php

#</IfModule>