@font-face {
    font-family: 'open_sansbold';
    src: url("/fonts/ubmj5z7v.eot");
    src: url("/fonts/ubmj5z7v.eot?#iefix") format("embedded-opentype"), url("/fonts/ubmj5z7v.woff") format("woff"), url("/fonts/ubmj5z7v.ttf") format("truetype"), url("/fonts/ubmj5z7v.svg#open_sansbold") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'open_sanslight';
    src: url("/fonts/7orstfog.eot");
    src: url("/fonts/7orstfog.eot?#iefix") format("embedded-opentype"), url("/fonts/7orstfog.woff2") format("woff2"), url("/fonts/7orstfog.woff") format("woff"), url("/fonts/7orstfog.ttf") format("truetype"), url("/fonts/7orstfog.svg#open_sanslight") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'robotoregular';
    src: url("/fonts/1srxthrx.eot");
    src: url("/fonts/1srxthrx.eot?#iefix") format("embedded-opentype"), url("/fonts/1srxthrx.woff2") format("woff2"), url("/fonts/1srxthrx.woff") format("woff"), url("/fonts/1srxthrx.ttf") format("truetype"), url("/fonts/1srxthrx.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal; }
.innerwrapper {
    width: 980px;
    margin: 0 auto; }

.bx-default-pager {
    display: none; }

.bx-controls {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px; }

.bx-prev.disabled {
    background: url("/images/slider_controls.png") 0 0;
    width: 18px;
    height: 33px;
    display: inline-block; }

.bx-next.disabled {
    background: url("/images/slider_controls.png") 0px 33px;
    width: 18px;
    height: 33px;
    display: inline-block; }

.bx-prev {
    background: url("/images/slider_controls.png") 18px 33px;
    width: 18px;
    height: 33px;
    display: inline-block;
    margin-right: 5px; }

.bx-next {
    background: url("/images/slider_controls.png") 18px 0px;
    width: 18px;
    height: 33px;
    display: inline-block; }

.bx-wrapper {
    max-width: 100% !important; }

h3 {
    font-family: "open_sansbold" !important;
    font-size: 29px !important;
    font-weight: 700 !important;
    letter-spacing: -0.002em !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #898787 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: normal !important; }

#pagination {
    text-align: right;
    line-height: 30px;
    color: #424242;
    margin-top: 40px; }
#pagination a, #pagination span {
    width: 18px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-family: "open_sanslight";
    text-align: center;
    font-size: 20px; }
#pagination a {
    color: #424242;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
#pagination a:hover {
    background-color: white; }
#pagination span {
    background-color: white;
    color: #176bb2;
    font-weight: 700; }
#pagination .next-page {
    background: url("/images/pagination-sprite.png") center center no-repeat;
    background-color: rgba(255, 255, 255, 0.5); }
#pagination .prev-page {
    background: url("/images/pagination-sprite.png") center center no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
    display: none; }

body {
    background: #fff;
    margin: 0;
    position: relative; }
body::before {
    content: '';
    position: absolute;
    background: url("/images/bg.png");
    width: 100%;
    height: 660px;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 4px solid #176bb1;
    background-size: cover; }
body.no-bg::before {
    height: 100%;
    border-bottom: none; }
body.no-bg header .innerwrapper #header-text #baku {
    background: url("/images/bold-baku.png") no-repeat;
    width: 222px; }
body.no-bg header .innerwrapper #search {
    position: absolute;
    top: 7px;
    right: 340px; }
body header {
    padding-top: 10px; }
body header .innerwrapper {
    position: relative; }
body header .innerwrapper #logo {
    background: url("/images/logo.png") no-repeat;
    width: 227px;
    height: 316px;
    display: inline-block; }
body header .innerwrapper #header-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 120px;
    margin-left: 40px; }
body header .innerwrapper #header-text #athletics {
    background: url("/images/header-text.png") no-repeat;
    width: 497px;
    height: 42px; }
body header .innerwrapper #header-text #baku {
    background: url("/images/baku-txt.png") no-repeat;
    width: 221px;
    height: 32px;
    margin-top: 20px; }
body header .innerwrapper #logo2 {
    background: url("/images/logo2.png") no-repeat;
    width: 149px;
    height: 103px;
    display: inline-block;
    margin-left: 58px;
    vertical-align: top;
    margin-top: 100px; }
body header .innerwrapper #social_languages {
    position: absolute;
    top: 0;
    right: 0; }
body header .innerwrapper #social_languages #social {
    display: inline-block; }
body header .innerwrapper #social_languages #social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 50%; }
body header .innerwrapper #social_languages #social #vk {
    background: url("/images/social.png") 0 0 no-repeat; }
body header .innerwrapper #social_languages #social #vk:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #social #fb {
    background: url("/images/social.png") -48px 0 no-repeat; }
body header .innerwrapper #social_languages #social #fb:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #social #twitter {
    background: url("/images/social.png") -95px 0 no-repeat; }
body header .innerwrapper #social_languages #social #twitter:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #social #ok {
    background: url("/images/social.png") -142px 0 no-repeat; }
body header .innerwrapper #social_languages #social #ok:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #social #youtube {
    background: url("/images/social.png") -189px 0 no-repeat; }
body header .innerwrapper #social_languages #social #youtube:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #social #gplus {
    background: url("/images/social.png") -237px 0 no-repeat; }
body header .innerwrapper #social_languages #social #gplus:hover {
    background-color: #fff; }
body header .innerwrapper #social_languages #lang {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    font: 15px 'open_sansbold';
    color: #176bb2;
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 0; }
body header .innerwrapper #social_languages #lang a {
    font: 15px 'open_sansbold';
    color: #176bb2;
    text-decoration: none; }
body header .innerwrapper #social_languages #lang .active {
    display: none; }
body header .innerwrapper #social_languages #lang .lang_value {
    display: inline-block;
    font: 15px 'open_sansbold';
    color: #176bb2;
    vertical-align: top;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0; }
body header .innerwrapper #social_languages #lang .lang_value::after {
    content: '';
    display: block;
    background: url("/images/lang_arrow.png") no-repeat center center;
    height: 5px;
    margin-top: 10px; }
body header .innerwrapper #social_languages .lang_value {
    display: inline-block;
    text-align: left;
    font: 15px 'open_sansbold';
    color: #176bb2;
    vertical-align: top;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    cursor: pointer; }
body header .innerwrapper #social_languages .lang_value::after {
    content: '';
    display: block;
    background: url("/images/lang_arrow.png") no-repeat center center;
    height: 5px;
    margin-top: 10px; }
body header .innerwrapper #search {
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: -10px; }
body header .innerwrapper #search input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    font: 15px 'robotoregular';
    padding: 10px 15px;
    width: 288px;
    color: #fff;
    outline: none; }
body header .innerwrapper #search input[type="text"]::-webkit-input-placeholder {
    color: #fff; }
body header .innerwrapper #search input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
body header .innerwrapper #search input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
body header .innerwrapper #search input[type="text"]:-ms-input-placeholder {
    color: #fff; }
body header .innerwrapper #search .search_submit {
    background: url("/images/search.png");
    width: 23px;
    height: 20px;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
body header .innerwrapper nav {
    margin-top: 75px;
    background: #fff;
    display: table;
    width: 980px; }
body header .innerwrapper nav .nav1 {
    display: table-row;
    margin: 0;
    padding: 0;
    text-align: center; }
body header .innerwrapper nav .nav1::before {
    display: table-row; }
body header .innerwrapper nav .nav1 li {
    display: table-cell;
    background: #fff;
    margin: 0;
    list-style: none; }
/*body header .innerwrapper nav .nav1 li:first-child a {*/
    /*padding: 20px; }*/
/*body header .innerwrapper nav .nav1 li:last-child a {*/
    /*padding: 20px; }*/
body header .innerwrapper nav .nav1 li:hover {
    background: #176bb2; }
body header .innerwrapper nav .nav1 li:hover a {
    color: #fff; }
body header .innerwrapper nav .nav1 li.active {
    background: #176bb2; }
body header .innerwrapper nav .nav1 li.active a {
    color: #fff; }
body header .innerwrapper nav .nav1 li a {
    padding: 20px 0;
    text-transform: uppercase;
    display: inline-block;
    font: 15px 'open_sanslight';
    color: #525151;
    text-decoration: none; }
body header .innerwrapper nav .nav1 li a:hover {
    background: #176bb2; }
body .more {
    display: block;
    width: 115px;
    margin: 0 auto;
    font: 14px 'open_sansbold';
    border: 3px solid #176bb2;
    text-align: center;
    padding: 10px 0;
    color: #176bb2; }
body .more:hover {
    text-decoration: none;
    border: 3px solid #df0024;
    color: #df0024; }
body #ui-datepicker-div {
    margin-top: 10px;
    width: 230px;
    height: 255px;
    margin-left: -40px; }
body .ui-datepicker th {
    font-weight: 400; }
body .ui-widget-header {
    font-weight: 400;
    line-height: normal; }
body .ui-widget-header {
    border: none; }
body .ui-widget {
    font-size: 15px; }
body .ui-widget-content {
    border: none;
    color: #ccc; }
body .ui-state-highlight, body .ui-widget-content .ui-state-highlight, body .ui-widget-header .ui-state-highlight {
    border-color: #706f6f; }
body article {
    position: relative; }
body article.article-two {
    padding-bottom: 40px; }
body article .innerwrapper {
    background: #fff;
    padding-top: 20px; }
body article .innerwrapper .breadcrumb {
    margin-top: -5px;
    background: transparent;
    padding: 0;
    font: 12px/25px 'robotoregular';
    color: #fff;
    margin-bottom: 10px; }
body article .innerwrapper .breadcrumb a {
    font: 12px/25px 'robotoregular';
    color: #fff;
    margin-right: 4px; }
body article .innerwrapper .breadcrumb span {
    margin-left: 4px; }
body article .innerwrapper .title {
    font-family: 'open_sansbold';
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    color: #fff; }
body article .innerwrapper #video-list .col-md-4 {
    padding: 0;
    position: relative;
    margin-bottom: 10px; }
body article .innerwrapper #video-list .col-md-4 .video-hover {
    width: 320px;
    background: #747474;
    opacity: 0.35;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
body article .innerwrapper #video-list .col-md-4 .video-hover:hover {
    opacity: 0; }
body article .innerwrapper #video-list .col-md-4 .video-hover:hover + .video-pic::before {
    background-color: #00762a; }
body article .innerwrapper #video-list .col-md-4 .video-pic {
    width: 320px;
    height: 205px;
    overflow: hidden;
    position: relative;
    margin-right: 0;
    border-bottom: 4px solid #00762a; }
body article .innerwrapper #video-list .col-md-4 .video-pic img {
    width: 320px;
    height: auto;
    min-height: 205px; }
body article .innerwrapper #video-list .col-md-4 .video-pic::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    background: url("/images/youtube_arrow.png") 55% center no-repeat, #2f2f2f;
    width: 60px;
    height: 40px;
    border-radius: 6px; }
body article .innerwrapper #video-list .col-md-4 .video-title {
    padding: 15px 90px 15px 10px;
    font-family: 'open_sanslight';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    max-width: 320px;
    width: 320px;
    height: 95px;
    max-height: 95px;
    margin-right: 0;
    background: #fff;
    color: #424242;
    overflow: hidden; }
body article .innerwrapper #video-list .col-md-4::after {
    content: "";
    clear: both;
    display: table; }
body article .innerwrapper #photo-list {
    border-left: 4px solid #fff; }
body article .innerwrapper #photo-list .col-md-3 {
    padding: 0;
    margin: 0;
    width: 240px; }
body article .innerwrapper #photo-list .col-md-3 .image-pic {
    width: 240px;
    height: 195px;
    overflow: hidden;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    position: relative;
    cursor: pointer;
    /*
    transition-property: top, left;
    transition-duration: 1s, 1s;
    transition-delay: 0s, 1s;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 1s, 1s;
    -webkit-transition-delay: 0s, 1s;
    -moz-transition-property: top, left;
    -moz-transition-duration: 1s, 1s;
    -moz-transition-delay: 0s, 1s;
    */ }
body article .innerwrapper #photo-list .col-md-3 .image-pic .photo-hover {
    display: block; }
body article .innerwrapper #photo-list .col-md-3 .image-pic .photo-hover:before {
    content: '';
    position: absolute;
    background: url("/images/fancy_hover.png") center center no-repeat, rgba(0, 144, 51, 0.46);
    background-size: 20px;
    width: 33px;
    height: 33px;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    transition-property: top, left, width, height; }
body article .innerwrapper #photo-list .col-md-3 .image-pic .photo-hover:hover::before {
    width: 100%;
    height: 100%;
    background-size: 65px; }
body article .innerwrapper #photo-list .col-md-3:nth-child(n+5) .image-pic {
    border-top: none; }
body article .innerwrapper #photo-list::after {
    content: "";
    clear: both;
    display: table; }
body article .innerwrapper .col-sm-3.partner {
    width: 20%;
    margin-bottom: 25px; }
body article .innerwrapper .col-sm-3.partner .partner-pic {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    overflow: hidden; }
body article .innerwrapper .col-sm-3.partner .partner-pic .partner-hover {
    display: flex;
    width: 160px;
    height: 160px;
    background: rgba(23, 107, 178, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
body article .innerwrapper .col-sm-3.partner .partner-pic .partner-hover:hover {
    background: rgba(23, 107, 178, 0); }
body article .innerwrapper .col-sm-3.partner .partner-pic .partner-hover:hover img {
    opacity: 1; }
body article .innerwrapper .col-sm-3.partner .partner-pic .partner-hover img {
    opacity: 0.7;
    display: block;
    margin: auto; }
body article .innerwrapper #committee .col-xs-6:nth-child(even) .single-committee {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
body article .innerwrapper #committee .col-xs-6:nth-child(even) .single-committee .committee-pic {
    float: left; }
body article .innerwrapper #committee .col-xs-6:nth-child(even) .single-committee .committee-text {
    padding-left: 200px;
    padding-right: 0px;
    text-align: left; }
body article .innerwrapper #committee .col-xs-6 .single-committee {
    background: rgba(255, 255, 255, 0.7);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-pic {
    float: right;
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px #747474;
    -moz-box-shadow: 0px 0px 5px #747474;
    box-shadow: 0px 0px 5px #747474; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-pic img {
    width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    min-height: 175px; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-text {
    font-family: "open_sanslight";
    padding-top: 20px;
    padding-right: 200px;
    text-align: right; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-text p {
    margin: 0;
    color: #424242; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-text .committee-name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700; }
body article .innerwrapper #committee .col-xs-6 .single-committee .committee-text .committee-position {
    font-size: 18px; }
body article .innerwrapper #committee .col-xs-6 .single-committee::after {
    content: '';
    clear: both;
    display: table; }
body article .innerwrapper #datepicker {
    width: 150px;
    line-height: 25px;
    float: right;
    margin-top: -37px;
    border-radius: 3px;
    background: url("/images/datePicker.png") 7px center no-repeat, url("/images/date_pic.png") 97% center no-repeat, transparent;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: "open_sansbold";
    font-weight: 700;
    color: #7c7c7c;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px; }
body article .innerwrapper #datepicker::-webkit-input-placeholder {
    font-size: 20px; }
body article .innerwrapper #datepicker:-moz-placeholder {
    font-size: 20px; }
body article .innerwrapper #datepicker::-moz-placeholder {
    font-size: 20px; }
body article .innerwrapper #datepicker:-ms-input-placeholder {
    font-size: 20px; }
body article .innerwrapper #news-wrapper .top-news {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px; }
body article .innerwrapper #news-wrapper .top-news:hover ~ .more:hover {
    background-color: white; }
body article .innerwrapper #news-wrapper .top-news:nth-child(2) {
    padding-left: 15px; }
body article .innerwrapper #news-wrapper .top-news:nth-child(2) .picture-of-new {
    float: right;
    margin-right: 0px;
    margin-left: 15px; }
body article .innerwrapper #news-wrapper .top-news:nth-child(2) .news-description .more {
    right: 325px; }
body article .innerwrapper #news-wrapper .top-news .picture-of-new {
    width: 325px;
    height: 210px;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top; }
body article .innerwrapper #news-wrapper .top-news .picture-of-new img {
    width: 325px;
        height: 210px;}
body article .innerwrapper #news-wrapper .top-news .news-description {
    font-family: "open_sanslight";
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    max-width: 625px; }
body article .innerwrapper #news-wrapper .top-news .news-description p {
    margin: 0; }
body article .innerwrapper #news-wrapper .top-news .news-description .news-date {
    font-size: 18px;
    color: #424242; }
body article .innerwrapper #news-wrapper .top-news .news-description .news-name {
    color: #424242;
    font-family: "open_sansbold";
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700; }
body article .innerwrapper #news-wrapper .top-news .news-description .news-text {
    margin-top: 5px;
    color: #6a6a6a; }
body article .innerwrapper #news-wrapper .top-news .news-description .more {
    border: 2px solid #c6c4c4;
    background-color: #fff;
    color: #c6c4c4;
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 0; }
body article .innerwrapper #news-wrapper .top-news .news-description .more:hover {
    color: #c0001f;
    border-color: #c0001f; }
body article .innerwrapper #news-wrapper .top-news .news-description .more:hover ~ .news-date, body article .innerwrapper #news-wrapper .top-news .news-description .more:hover ~ .news-name {
    color: #176bb2; }
body article .innerwrapper #news-wrapper .top-news:after {
    content: '';
    clear: both;
    display: table; }
body article .innerwrapper #news-wrapper .second-news {
    margin-left: 0px; }
body article .innerwrapper #news-wrapper .second-news ~ .second-news {
    margin-left: 10px; }
body article .innerwrapper #news-wrapper .second-news.col-md-4 {
    padding: 0;
    width: 320px; }
body article .innerwrapper #news-wrapper .second-news .picture-of-new {
    width: 320px;
    height: 205px;
    overflow: hidden;
    border-bottom: 4px solid #d50022; }
body article .innerwrapper #news-wrapper .second-news .picture-of-new img {
    width: 320px;
    min-height: 205px; }
body article .innerwrapper #news-wrapper .second-news .news-description {
    padding: 5px 10px;
    display: block;
    background-color: rgba(255, 255, 255, 0.8); }
body article .innerwrapper #news-wrapper .second-news .news-description:hover {
    text-decoration: none;
    background-color: white; }
body article .innerwrapper #news-wrapper .second-news .news-description p {
    color: #424242;
    text-decoration: none;
    margin: 0;
    text-transform: uppercase; }
body article .innerwrapper #news-wrapper .second-news .news-description .news-date {
    font-size: 13px;
    font-family: 'open_sanslight'; }
body article .innerwrapper #news-wrapper .second-news .news-description .news-name {
    font-family: 'open_sansbold';
    font-size: 14px; }
body article .innerwrapper #news-wrapper .second-news::after {
    content: '';
    display: table;
    clear: both; }
body article .innerwrapper #news-wrapper .third-news {
    margin-top: 10px;
    width: 320px;
    margin-left: 0px; }
body article .innerwrapper #news-wrapper .third-news ~ .third-news {
    margin-left: 10px; }
body article .innerwrapper #news-wrapper .third-news.col-md-4 {
    padding: 0; }
body article .innerwrapper #news-wrapper .third-news .news-date {
    width: 95px;
    height: 95px;
    margin: 0;
    padding: 3px;
    background-color: #c0001f;
    -webkit-box-shadow: 0 0 5px #747474;
    -moz-box-shadow: 0 0 5px #747474;
    box-shadow: 0 0 5px #747474;
    font-size: 18px;
    font-family: "open_sanslight";
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    float: left; }
body article .innerwrapper #news-wrapper .third-news .news-date::after {
    content: '';
    position: absolute;
    background: url("/images/news_arrow.png") 0 center no-repeat;
    right: -9px;
    height: 100%;
    width: 9px;
    top: 0; }
body article .innerwrapper #news-wrapper .third-news .news-description {
    display: inline-block;
    max-width: 225px;
    display: table-cell;
    vertical-align: middle;
    height: 95px;
    padding: 5px 15px 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'open_sansbold';
    color: #424242;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 5px rgba(116, 166, 116, 0.35);
    -moz-box-shadow: 0 0 5px rgba(116, 166, 116, 0.35);
    box-shadow: 0 0 5px rgba(116, 166, 116, 0.35); }
body article .innerwrapper #news-wrapper .third-news .news-description:hover {
    background-color: white;
    text-decoration: none; }
body article .innerwrapper #news-wrapper::after {
    content: '';
    display: table;
    clear: both; }
body article .innerwrapper .date-title {
    font-family: 'open_sanslight';
    font-size: 25px;
    color: #fff; }
body article .innerwrapper .content-img {
    width: 100%;
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 0 5px rgba(116, 166, 116, 0.35);
    -moz-box-shadow: 0 0 5px rgba(116, 166, 116, 0.35);
    box-shadow: 0 0 5px rgba(116, 166, 116, 0.35); }
body article .innerwrapper #inner_content {
    background: #fff;
    font-family: 'robotoregular';
    font-size: 13px;
    color: #6a6a6a;
    padding: 25px 30px;
    position: relative; }
body article .innerwrapper #inner_content p {
    margin-bottom: 20px; }
body article .innerwrapper #inner_content::after {
    content: '';
    background: #fff;
    width: 100%;
    height: 40%;
    display: block;
    position: absolute;
    left: 0; }
body article .innerwrapper.no-bg {
    background: transparent; }
body article .innerwrapper #news {
    font-family: "open_sanslight";
    color: #424242; }
body article .innerwrapper #news .col-md-4 {
    padding-left: 0;
    padding-right: 0px;
    margin-right: 17px;
    max-width: 315px; }
body article .innerwrapper #news .col-md-4:last-child {
    padding-right: 0px;
    margin-right: 0px; }
body article .innerwrapper #news .col-md-4 .news-image {
    width: 315px;
    height: 240px;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    position: relative; }
body article .innerwrapper #news .col-md-4 .news-image img {
    width: 315px;
    height: auto;
    min-height: 240px; }
body article .innerwrapper #news .col-md-4 .news-image .news-title {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    border-bottom: 4px solid #176bb2;
    display: block;
    height: 64px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
body article .innerwrapper #news .col-md-4 .news-image .news-title p {
    margin: 0;
    padding-left: 5px;
    line-height: 20px;
    font-family: "open_sanslight";
    color: #424242; }
body article .innerwrapper #news .col-md-4 .news-image .news-title .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "open_sansbold"; }
body article .innerwrapper #news .col-md-4 .news-image .news-title:hover {
    height: 240px;
    background: rgba(23, 107, 178, 0.4);
    border-bottom: 0px solid #176bb2; }
body article .innerwrapper #news .col-md-4 .news-image .news-title:hover p {
    position: relative;
    color: #fff;
    top: 40%; }
body article .innerwrapper #news .col-md-4 .news-descr {
    font-size: 13px;
    font-family: 'robotoregular';
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px; }
body article .innerwrapper::after {
    content: "";
    clear: both;
    display: table; }
body article #partners {
    margin-bottom: 70px; }
body article #partners #logos {
    padding: 10px 0;
    text-align: center;
    background: #e6e6e6; }
body article #partners #logos .innerwrapper {
    padding-top: 0;
    background: #e6e6e6; }
body article #partners #logos .innerwrapper .col-md-2 {
    float: none;
    width: auto; }
body article #main-gallery #main-pictures {
    border-top: 4px solid #176bb1;
    background: #d7d7d7;
    height: 490px;
    width: 100%; }
body article #main-gallery #main-pictures .no-move-right {
    float: right; }
body article #main-gallery #main-pictures .no-move-right::after {
    content: '';
    display: table;
    clear: both; }
body article #main-gallery #main-pictures .main-slider {
    width: 980px;
    display: inline-block;
    margin: 0 auto; }
body article #main-gallery #main-pictures .column {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 990px) / 2); }
body article #main-gallery #main-pictures .column .control-pic-left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 5px; }
body article #main-gallery #main-pictures .column .control-pic-left img {
    width: 505px;
    height: auto; }
body article #main-gallery #main-pictures .column .control-pic-right {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 5px; }
body article #main-gallery #main-pictures .column .control-pic-right img {
    width: 505px;
    height: auto; }
body article #main-gallery #main-pictures .column .control-pic-right::after {
    content: '';
    display: table;
    clear: both; }
body footer {
    background: transparent;
    position: relative; }
body footer::before {
    content: "";
    position: absolute;
    top: -48px;
    background: url("/images/footer-main.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 427px; }
body footer.foot-two {
    background: transparent; }
body footer.foot-two::before {
    background: url("/images/footer-main-2.png");
    height: 414px;
    top: -35px;
    width: 100%; }
body footer .innerwrapper .col-md-4 {
    vertical-align: bottom;
    display: inline-block;
    float: none;
    width: 33%;
    padding-left: 120px; }
body footer .innerwrapper .col-md-4:first-child {
    padding-left: 0px; }
body footer .innerwrapper .footer-title {
    font: 15px/25px 'open_sansbold';
    letter-spacing: -.002em;
    color: #176bb2;
    margin: 0;
    text-transform: uppercase; }
body footer .innerwrapper .contact-us p {
    font: 15px/25px 'open_sanslight';
    letter-spacing: -.002em;
    color: #525151;
    margin: 0;
    text-align: left; }
body footer .innerwrapper .contact-us input, body footer .innerwrapper .contact-us textarea {
    width: 290px;
    max-width: 290px;
    min-height: 28px;
    padding: 0 3px;
    outline: none; }
body footer .innerwrapper .contact-us textarea {
    height: 150px; }
body footer .innerwrapper .contact-us img {
    float: left;
    position: relative;
    z-index: 100;
    width: 48px;
    top: 2px; }
body footer .innerwrapper .contact-us .capcha {
    position: relative;
    left: -50px;
    float: left;
    width: 160px;
    margin-right: -35px;
    padding-left: 53px; }
body footer .innerwrapper .contact-us input[type="submit"] {
    background: #fff;
    border: 3px solid #8e8e8e;
    width: 110px;
    float: left;
    margin: 0;
    font: 14px/22px 'open_sansbold';
    letter-spacing: -.002em;
    padding: 0;
    color: #8e8e8e; }
body footer .innerwrapper nav {
    margin-bottom: 70px; }
body footer .innerwrapper nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
body footer .innerwrapper nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open_sanslight';
    font-size: 15px;
    line-height: 25px;
    color: #525151; }
body footer .innerwrapper .footer-contacts {
    font: 15px/25px 'open_sanslight';
    letter-spacing: -.002em;
    color: #525151;
    text-transform: uppercase;
    width: 235px;
    margin-left: -30px; }
body footer .innerwrapper .footer-contacts #location {
    position: relative; }
body footer .innerwrapper .footer-contacts #location::before {
    content: '';
    background: url("/images/contacts-main.png") -2px 0;
    width: 12px;
    height: 19px;
    display: inline-block;
    line-height: 50px;
    position: absolute;
    top: 25%; }
body footer .innerwrapper .footer-contacts #location p {
    padding-left: 30px; }
body footer .innerwrapper .footer-contacts #phones {
    position: relative;
    margin-top: 20px; }
body footer .innerwrapper .footer-contacts #phones::before {
    content: '';
    background: url("/images/contacts-main.png") 0px 30px;
    width: 16px;
    height: 18px;
    display: inline-block;
    line-height: 50px;
    position: absolute;
    top: 30%; }
body footer .innerwrapper .footer-contacts #phones a {
    padding-left: 30px;
    display: block;
    font: 15px/25px 'open_sanslight';
    letter-spacing: -.002em;
    color: #525151;
    text-decoration: none; }
body footer .innerwrapper .footer-contacts #email {
    position: relative;
    margin-top: 20px; }
body footer .innerwrapper .footer-contacts #email::before {
    content: '';
    background: url("/images/contacts-main.png") 0px 10px;
    width: 16px;
    height: 10px;
    display: inline-block;
    line-height: 50px;
    position: absolute;
    top: 30%; }
body footer .innerwrapper .footer-contacts #email a {
    padding-left: 30px;
    display: block;
    font: 15px/25px 'open_sanslight';
    letter-spacing: -.002em;
    color: #525151;
    text-decoration: none;
    text-transform: none; }
body footer .innerwrapper .footer-contacts #socials {
    margin-top: 20px; }
body footer .innerwrapper .footer-contacts #socials a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #b4b4b4;
    margin-right: 5px; }
body footer .innerwrapper .footer-contacts #socials a:hover {
    background-color: #28c3ff; }
body footer .innerwrapper .footer-contacts #socials a::before {
    content: '';
    width: 26px;
    height: 30px;
    display: block;
    margin: auto; }
body footer .innerwrapper .footer-contacts #socials .vk::before {
    background: url("/images/main-contacts-social.png") 0 center no-repeat; }
body footer .innerwrapper .footer-contacts #socials .fb::before {
    background: url("/images/main-contacts-social.png") -38px center no-repeat; }
body footer .innerwrapper .footer-contacts #socials .twit::before {
    background: url("/images/main-contacts-social.png") -76px center no-repeat; }
body footer .innerwrapper .footer-contacts #socials .ok::before {
    background: url("/images/main-contacts-social.png") -113px center no-repeat; }
body footer .innerwrapper .footer-contacts #socials .ut::before {
    background: url("/images/main-contacts-social.png") -152px center no-repeat; }
body footer .innerwrapper .footer-contacts #socials .gp::before {
    background: url("/images/main-contacts-social.png") -192px center no-repeat; }
body footer #allRights,body footer #allRights a {
    margin-top: 15px;
    background: #b4b4b4;
    text-align: center;
    font: 12px 'robotoregular';
    color: #737272;
    line-height: 30px;
    text-decoration: none;
}
body footer::after {
    content: "";
    clear: both;
    display: table; }

/*# sourceMappingURL=style.css.map */
